In [1]:
# import libraries
import sqlalchemy as db
import pandas as pd
import yfinance as yf

Requirement already satisfied: sqlalchemy in c:\users\mzdlm\anaconda3\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mzdlm\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)

#### For the sake of time and memory we'll just be examining companies in the Dow Jones Industrial Average

In [2]:
# create a list of tickers in the DOW
dow_tickers = pd.read_html('https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average')[1].Symbol.to_list()

In [3]:
# returns a list of data frames where each data frame details a company in the DOW
def get_data(tickers):
    data = []
    for ticker in tickers:
        data.append(yf.download(ticker).reset_index()) # reset index so that 'Date' is a column not an index (we want a 0-based index)
    return data

In [4]:
# list of data frames
dow_frames = get_data(dow_tickers)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [5]:
# creates the database engine
dow_engine = db.create_engine('sqlite:///DOW.db')

In [6]:
# populate the database
for frame, ticker in zip(dow_frames, dow_tickers):
    frame.to_sql(ticker, dow_engine, index=False)

#### Database has now been successfully created. You can use a database editor to view the data, run queries, or make edits.

We can also run SQL commands using Pandas

In [7]:
# sample query
pd.read_sql('SELECT * FROM AAPL WHERE CLOSE > OPEN', dow_engine)

,Date,Open,High,Low,Close,Adj Close,Volume
0,1982-10-04 00:00:00.000000,0.082589,0.084263,0.080357,0.083705,0.065334,69328000
1,1982-10-05 00:00:00.000000,0.083705,0.085938,0.083705,0.084263,0.065769,80236800
2,1982-10-06 00:00:00.000000,0.084263,0.090402,0.084263,0.090402,0.070561,173532800
3,1982-10-07 00:00:00.000000,0.090960,0.098214,0.090960,0.097656,0.076223,311673600
4,1982-10-08 00:00:00.000000,0.097656,0.105469,0.097098,0.104911,0.081885,275542400
...,...,...,...,...,...,...,...
4767,2022-07-08 00:00:00.000000,145.259995,147.550003,145.000000,147.039993,147.039993,64493200
4768,2022-07-12 00:00:00.000000,145.759995,148.449997,145.050003,145.860001,145.860001,77588800
4769,2022-07-13 00:00:00.000000,142.990005,146.449997,142.119995,145.490005,145.490005,71185600
4770,2022-07-14 00:00:00.000000,144.080002,148.949997,143.250000,148.470001,148.470001,78140700
4771,2022-07-15 00:00:00.000000,149.779999,150.860001,148.199997,150.169998,150.169998,76030800